[alias]
        ci = commit
        co = checkout
        br = branch
        cob = checkout -b
        rh = reset HEAD
        st = status
        origin = config --get remote.origin.url
[user]
        name = James Bennett
        email = jwbennet@gmail.com
[init]
        defaultBranch = main
[core]
        autocrlf = input
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[safe]
{{- if and (hasKey . "git") (hasKey .git "safe") }}
{{- range .git.safe }}
        directory = {{ . }}
{{- end }}
{{- end }}

{{- if and .chezmoi.kernel contains "WSL2" .chezmoi.kernel.osrelease }}

[credential]
        helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- end }}
